@use '../colors.scss' as colors;

.app-mat-dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3rem 3.5rem;

  background-color: colors.$white;

  .app-mat-dialog-header {
    button.mat-dialog-close {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      padding: 0.5rem 1rem;

      background: none;
      border: none;
    }

    h1.mat-dialog-title {
      text-align: center;
      margin: 0 0 4rem;
    }
  }

  .app-mat-dialog-body {
    p.message {
      text-align: center;

      font-size: 1.6rem;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
