.cdk-overlay-container {
  .mat-mdc-select-panel {
    border-radius: 4px !important;

    mat-option.header-profile-select-option {
      min-height: 3.5rem;
      background-color: transparent !important;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04) !important;
      }
    }
  }
}
