<header>
  <nav>
    <a
      [routerLink]="AppRouterLinkPath.Landing"
      class="site-title user-select-none"
      aria-label="Chat"
    >
      <span>Chat</span>
      <i class="bi bi-chat-dots"></i>
    </a>

    <div *ngIf="currentUser()" class="messenger-and-mat-select-container">
      <button class="chat-rooms" [routerLink]="AppRouterLinkPath.ChatRooms">
        <i class="bi bi-messenger"></i>
        <span class="notifications-count" *ngIf="unreadMessages()">
          {{ unreadMessages() }}
        </span>
      </button>

      <div class="profile-select" *ngIf="userService.$signedIn | async">
        <button
          class="select-trigger"
          (click)="matSelect.open()"
          [ngStyle]="{
          backgroundImage: 'url(' + (currentUser()?.photoURL || 'assets/images/profile/user-avatar-placeholder.jpg') + ')',
        }"
        ></button>

        <mat-select #matSelect>
          <mat-option
            class="header-profile-select-option"
            [routerLink]="AppRouterLinkPath.Profile"
          >
            Profile
          </mat-option>
          <mat-option class="header-profile-select-option" (click)="signOut()">
            Sign Out
          </mat-option>
        </mat-select>
      </div>
    </div>
  </nav>
</header>
