@use 'src/styles/colors.scss' as colors;
@use 'src/styles/media-queries.scss' as mediaQueries;

:host {
  display: flex;
  width: 100vw;
  height: 7rem;

  @include mediaQueries.xsm {
    height: 5rem;
  }

  &::ng-deep {
    mat-select .mat-mdc-select-arrow-wrapper {
      opacity: 0;
    }
  }

  header {
    width: 100%;
    height: 100%;
    /**
     * Overlay `box-shadow` on the outside components.
     */
    z-index: 1;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 0 2rem;

      box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024,
        0 1px 18px #0000001f;
      background-color: colors.$blue;

      a {
        margin: 0;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        user-select: none;
        font-size: 3rem;
        font-family: 'Roboto-Bold';
        color: #fff;

        &.site-title {
          span {
            @include mediaQueries.xsm {
              display: none;
            }
          }

          i {
            margin-left: 1rem;

            @include mediaQueries.xsm {
              font-size: 2.8rem;
            }
          }
        }
      }

      .messenger-and-mat-select-container {
        position: relative;

        button.chat-rooms {
          position: absolute;
          right: 4.5rem;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;

          background: transparent;
          border: none;

          @include mediaQueries.xsm {
            right: 3.5rem;
          }

          i {
            font-size: 3.8rem;
            color: white;

            @include mediaQueries.xsm {
              font-size: 2.8rem;
            }
          }

          .notifications-count {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -0.4rem;
            right: 0.4rem;
            width: 1.5rem;
            height: 1.5rem;

            border-radius: 50%;
            background-color: colors.$red;
            color: colors.$white;
            font-size: 1.1rem;

            @include mediaQueries.xsm {
              top: -0.2rem;
              right: 0.4rem;
              width: 1.1rem;
              height: 1.1rem;

              font-size: 0.8rem;
            }
          }
        }

        .profile-select {
          position: relative;
          width: 20rem;
          height: 1rem;

          background-color: transparent;

          @include mediaQueries.xsm {
            width: 10rem;
          }

          & > button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 4rem;
            height: 4rem;

            border: none;
            border-radius: 100%;
            background-color: colors.$white;
            background-size: 100%;
            background-repeat: no-repeat;
            outline: none;
            font-size: 2.2rem;

            @include mediaQueries.xsm {
              width: 3rem;
              height: 3rem;
            }
          }

          mat-select {
            width: 20rem;
            position: absolute;
            top: 0.8rem;

            background-color: transparent;
          }
        }
      }
    }
  }
}
