@use 'src/styles/media-queries.scss' as mediaQueries;

.app-mat-dialog {
  width: 50rem;

  @include mediaQueries.sm {
    width: 40rem;
  }

  @include mediaQueries.xsm {
    width: 25rem;
    max-height: 32.5rem;
  }

  form {
    display: flex;
    flex-direction: column;

    .button-container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 9rem;
    }
  }
}
