<div class="app-mat-dialog">
  <div class="app-mat-dialog-header">
    <button class="mat-dialog-close" mat-dialog-close>
      <i class="bi bi-x-lg"></i>
    </button>

    <h1 class="mat-dialog-title">Create Chat Room</h1>
  </div>

  <div class="app-mat-dialog-body">
    <form [formGroup]="formGroup">
      <mat-form-field>
        <mat-label>Chat room name</mat-label>
        <input #chatRoomNameInput matInput formControlName="chatRoomName" />
      </mat-form-field>

      <div class="button-container">
        <button
          mat-raised-button
          [disabled]="formGroup.invalid || saving()"
          (click)="createChatRoom()"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>
