@use 'src/styles/colors.scss' as colors;
@use 'src/styles/media-queries' as mediaQueries;

.app-mat-dialog {
  width: 37rem;
  min-height: 30rem;

  @include mediaQueries.xsm {
    max-width: 250px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow-y: scroll;

    li {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 1.3rem;
      }

      p {
        margin: 0 0 0 1.2rem;
        font-size: 1.5rem;
      }
    }
  }
}
