<div class="app-mat-dialog">
  <div class="app-mat-dialog-header">
    <button class="mat-dialog-close" mat-dialog-close>
      <i class="bi bi-x-lg"></i>
    </button>

    <h1 class="mat-dialog-title">Info</h1>
  </div>

  <div class="app-mat-dialog-body">
    <h2>Members</h2>

    <ul *ngIf="users">
      <li *ngFor="let user of users()">
        <app-avatar-with-online-status size="small" [user]="user" />
        <p>{{ user.displayName }}</p>
      </li>
    </ul>
  </div>
</div>
