<form class="app-card" [formGroup]="formGroup">
  <app-image-upload-and-preview formControlName="photoData" />

  <mat-form-field>
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="displayName" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <textarea
      matInput
      formControlName="status"
      placeholder="Enjoying the simple things in life"
    ></textarea>
  </mat-form-field>

  <div class="button-container">
    <button
      mat-raised-button
      (click)="save()"
      [disabled]="formGroup.pristine || formGroup.invalid || saving()"
    >
      Save
    </button>
  </div>
</form>
