:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;

  form {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    min-width: 25.5rem;
    width: 100%;

    textarea {
      resize: none;
    }

    .button-container {
      display: flex;
      justify-content: flex-end;

      button {
        margin-top: 1rem;
      }
    }
  }
}
