:host {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  .img-and-button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    img {
      max-width: 12rem;
      width: 100%;
      object-fit: cover;

      border: 1px solid transparent;
      border-radius: 4px;
    }

    button {
      margin-top: 2.7rem;
    }
  }

  input {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
  }
}
