<div class="img-and-button-container">
  <img
    [src]="
      photoData()[0] || 'assets/images/profile/user-avatar-placeholder.jpg'
    "
  />

  <button
    mat-raised-button
    (click)="fileInput.click()"
    [disabled]="uploadButtonDisabled()"
  >
    {{ photoData()[0] ? 'Change' : 'Upload' }}
  </button>
</div>

<input #fileInput type="file" (change)="handleUploadedImage($event)" />
