<div class="app-mat-dialog">
  <div class="app-mat-dialog-header">
    <button class="mat-dialog-close" mat-dialog-close>
      <i class="bi bi-x-lg"></i>
    </button>

    <h1 class="mat-dialog-title">Error</h1>
  </div>

  <div class="app-mat-dialog-body">
    <p class="message">Something went wrong. Please try again.</p>
  </div>
</div>
