@mixin lg {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin xsm {
  @media screen and (max-width: 576px) {
    @content;
  }
}
