<div class="root-container">
  <form [formGroup]="searchQueryFormGroup">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput formControlName="searchQuery" />
    </mat-form-field>

    <button mat-fab (click)="createChatRoom()">
      <i class="bi bi-plus-lg"></i>
    </button>
  </form>

  <ul>
    <li
      *ngFor="let chatRoom of chatRooms(); trackBy: chatRoomTrackByFn"
      [class.selected]="chatRoom.name === selectedChatRoom()?.name"
      (click)="selectChatRoom(chatRoom)"
    >
      <app-avatar-with-online-status
        [user]="getChatRoomUser(chatRoom.userUids) | async"
      />

      <p class="chat-room-name">
        <b>{{ chatRoom.name }}</b>
      </p>

      <button
        *ngIf="!chatRoomJoined(chatRoom)"
        class="join-chat-room-button"
        mat-raised-button
        (mouseenter)="joinChatButtonHovered = true"
        (mouseleave)="joinChatButtonHovered = false"
        (click)="joinChatRoom($event, chatRoom)"
      >
        <i class="bi bi-person-add"></i>
      </button>
    </li>
  </ul>
</div>
