@use 'src/styles/colors.scss' as colors;
@use 'src/styles/mixins.scss' as mixins;

$liPadding: 1.5rem;
$imageDiameter: 5.5;
$onlineStatusDiameter: 1.4rem;

:host {
  &::ng-deep {
    .root-container {
      form {
        mat-form-field {
          .mdc-line-ripple {
            display: none;
          }

          .mat-mdc-text-field-wrapper {
            display: flex;
            align-items: center;
            border-radius: 2.5rem;
          }

          .mat-mdc-form-field-subscript-wrapper {
            display: none;
          }
        }

        button {
          .mat-mdc-button-persistent-ripple {
            background-color: colors.$gray;
          }
        }
      }
    }
  }

  .root-container {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    height: calc(100vh - 7rem);
    overflow-y: auto;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    background-color: colors.$white;

    form {
      display: flex;
      align-items: center;
      padding: 0 $liPadding;

      mat-form-field {
        width: 100%;
      }

      button {
        width: 4rem;
        height: 4rem;
        margin-left: 2rem;
      }
    }

    ul {
      margin: 3rem 0 0;
      padding: 0;
      list-style-type: none;

      li {
        display: flex;
        align-items: center;
        padding: 1rem $liPadding;

        cursor: pointer;

        &:hover,
        &.selected {
          background-color: rgba(0, 0, 0, 0.05);
        }

        .chat-room-name {
          margin: 0 0 0 1.3rem;
          font-size: 1.5rem;
        }

        button.join-chat-room-button {
          margin-left: auto;
          min-width: unset;
          max-width: 3.2rem;
          width: 100%;
        }
      }
    }
  }
}
