@use 'src/styles/colors.scss' as colors;

@keyframes typingAnimation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0);
  }
}
$dotDiameter: 0.6rem;

:host {
  display: flex;
  width: fit-content;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 5rem;

    border-radius: 1.3rem;
    background-color: rgba(0, 0, 0, 0.02);

    div {
      display: inline-block;
      width: $dotDiameter;
      height: $dotDiameter;
      animation: typingAnimation 1.5s infinite ease-in-out;

      border-radius: 50%;
      background-color: colors.$gray;

      &:not(:last-child) {
        margin-right: 0.4rem;
      }

      &:nth-child(1) {
        animation-delay: 200ms;
      }

      &:nth-child(2) {
        animation-delay: 300ms;
      }

      &:nth-child(3) {
        animation-delay: 400ms;
      }
    }
  }
}
