<form class="app-card" [formGroup]="formGroup">
  <h1>Sign {{ signUpMode() ? 'Up' : 'In' }}</h1>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="john.doe@example.com"
    />
  </mat-form-field>
  <div
    class="input-error-message"
    [class.visibility-hidden]="!showFormControlError()"
  >
    <ng-container *ngIf="emailControl.hasError('required')">
      Required
    </ng-container>
    <ng-container *ngIf="emailControl.hasError('invalidEmail')">
      Invalid email
    </ng-container>
    <ng-container *ngIf="emailControl.hasError('emailAlreadyInUse')">
      Email already in use
    </ng-container>
  </div>

  <mat-form-field class="password">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" />
  </mat-form-field>
  <div
    class="input-error-message"
    [class.visibility-hidden]="!showFormControlError()"
  >
    <ng-container *ngIf="passwordControl.hasError('required')">
      Required
    </ng-container>
    <ng-container *ngIf="passwordControl.hasError('invalidPassword')">
      Invalid password
    </ng-container>
    <ng-container *ngIf="passwordControl.hasError('invalidLoginCredentials')">
      Invalid password
    </ng-container>
  </div>

  <div class="row buttons-row">
    <div class="sign-buttons-col col-md-5">
      <button
        *ngIf="signUpMode(); else signInButton"
        mat-raised-button
        type="button"
        [disabled]="saving()"
        (click)="signUp()"
      >
        Sign Up
      </button>

      <ng-template #signInButton>
        <button
          mat-raised-button
          type="button"
          [disabled]="saving()"
          (click)="signIn()"
        >
          Sign In
        </button>
      </ng-template>
    </div>

    <div class="switch-button-col col-sm-12 col-md-7">
      <button
        type="button"
        mat-raised-button
        (click)="signUpMode.set(!signUpMode())"
      >
        Switch to sign {{ signUpMode() ? 'In' : 'Up' }}
      </button>
    </div>
  </div>
</form>
