@use 'src/styles/media-queries.scss' as mediaQueries;

:host {
  display: flex;
  justify-content: center;
  width: 100%;

  &::ng-deep {
    mat-form-field {
      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  .app-card {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
    max-width: 35rem;
    width: 100%;

    // @include mediaQueries.xsm {
    //   max-width: 2.5rem;
    //   width: 100%;
    // }

    mat-form-field {
      &.password {
        margin-top: 1.2rem;
      }
    }

    .buttons-row {
      margin-top: 3rem;

      .switch-button-col {
        @include mediaQueries.sm {
          margin-top: 1rem;
        }
      }

      .sign-buttons-col,
      .switch-button-col {
        display: flex;
        justify-content: flex-end;
      }

      button {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
