<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 col-md-4 col-lg-4 col-xl-3">
      <app-chat-rooms-list
        [class.hidden]="standaloneMode() && selectedChatRoom()"
        [standaloneMode]="standaloneMode()"
      />
    </div>

    <div class="col-sm-7 col-md-8 col-lg-8 col-xl-9">
      <app-chat-room-window
        *ngIf="selectedChatRoom()"
        [standaloneMode]="standaloneMode()"
      />
    </div>
  </div>
</div>
