@use 'src/styles/colors.scss' as colors;

$smallImageDiameter: 3rem;
$largeImageDiameter: 4.5rem;
$smallOnlineStatusDiameter: 1rem;
$largeOnlineStatusDiameter: 1.3rem;

:host {
  display: flex;
  width: fit-content;
  height: fit-content;

  .root-container {
    position: relative;
    width: 100%;

    &.small {
      img {
        width: $smallImageDiameter;
        height: $smallImageDiameter;
      }

      div {
        width: $smallOnlineStatusDiameter;
        height: $smallOnlineStatusDiameter;
        bottom: 0;
        right: -0.2rem;
      }
    }

    &.large {
      img {
        width: $largeImageDiameter;
        height: $largeImageDiameter;
      }

      div {
        width: $largeOnlineStatusDiameter;
        height: $largeOnlineStatusDiameter;
        bottom: 0;
        right: 0.2rem;
      }
    }

    img {
      object-fit: cover;

      border-radius: 50%;
    }

    div {
      position: absolute;
      z-index: 1;

      border: 2px solid colors.$white;
      border-radius: 50%;

      &.online {
        background-color: colors.$green;
      }

      &.offline {
        background-color: colors.$gray;
      }
    }
  }
}
