<div class="root-container" [ngClass]="size">
  <img
    [src]="
      user?.photoURL || 'assets/images/profile/user-avatar-placeholder.jpg'
    "
  />
  <div [ngClass]="{ online: user?.online, offline: !user?.online }"></div>
</div>
