@use 'src/styles/colors.scss' as colors;

$messageContainerCornerPaddings: 1rem;

:host {
  &::ng-deep {
    .root-container {
      form {
        mat-form-field {
          .mdc-line-ripple {
            display: none;
          }

          .mat-mdc-text-field-wrapper {
            display: flex;
            align-items: center;
            border-radius: 2.5rem;
          }

          .mat-mdc-form-field-subscript-wrapper {
            display: none;
          }
        }
      }
    }
  }

  .root-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    nav {
      padding: 1.6rem $messageContainerCornerPaddings;
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-bottom: 1px solid rgba(0, 0, 0, 0.07);
      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.06);

      button {
        padding: 0.7rem 0;

        border: none;
        background: none;
        color: colors.$blue;
        font-size: 2.5rem;
        -webkit-text-stroke: 0.15rem;

        &.hidden {
          visibility: hidden;
        }
      }

      h1 {
        margin: 0;
        color: colors.$gray;
      }
    }

    .conversation {
      display: flex;
      flex-direction: column-reverse;
      overflow-y: auto;
      padding-top: 1.5rem;
      height: calc(100vh - 7rem - 7.2rem - 14.9rem - 5rem);

      .message-container {
        display: flex;
        align-items: flex-end;
        padding: 0 $messageContainerCornerPaddings 1rem;

        app-avatar-with-online-status {
          display: flex;
          position: relative;
          bottom: 0.8rem;
        }

        .date-and-message-container {
          display: flex;
          flex-direction: column;
          margin-left: 1rem;
          padding: 1rem;

          border-radius: 17px;
          background-color: rgba(0, 0, 0, 0.07);

          .message {
            margin: 0;
            word-break: break-all;
          }

          .first-name-and-date {
            margin: 0.3rem 0 0;

            font-size: 1.2rem;
            color: colors.$gray;
          }
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;

      app-typing-animation {
        margin: 0 0 1.5rem $messageContainerCornerPaddings;

        &.hidden {
          visibility: hidden;
        }
      }

      .textarea-and-send-button-wrapper {
        display: flex;
        padding: 0 1rem 0 5rem;

        mat-form-field {
          width: 100%;

          textarea {
            width: 100%;
            resize: none;
          }
        }

        .send-message-button-container {
          display: flex;
          align-items: center;

          button {
            display: flex;
            align-items: center;
            margin-left: 2rem;
            height: 3.2rem;

            border: 1px solid transparent;
            border-radius: 50%;
            background: none;

            i {
              transform: rotate(45deg);

              color: colors.$blue;
              font-size: 2rem;
              -webkit-text-stroke: 0.4px;
            }
          }
        }
      }
    }
  }
}
