<div class="root-container">
  <nav>
    <button (click)="goBackToChatRoomsList()" [class.hidden]="!standaloneMode">
      <i class="bi bi-arrow-left"></i>
    </button>

    <h1 class="user-select-none">{{ chatRoomWindow()?.chatRoomName }}</h1>

    <button class="info-button" (click)="openChatRoomWindowInfoDialog()">
      <i class="bi bi-info-circle"></i>
    </button>
  </nav>

  <div
    #conversation
    class="conversation"
    *ngIf="userService.$currentUser | async as currentUser"
  >
    <div
      class="message-container"
      *ngFor="let message of messages()"
      [ngClass]="{
        me: message.senderUid === currentUser.uid,
        'second-person': message.senderUid !== currentUser.uid,
      }"
    >
      <app-avatar-with-online-status
        [user]="userUidsMappingToUsers()[message.senderUid!]"
        size="small"
      />

      <div class="date-and-message-container">
        <p class="message">{{ message.message }}</p>
        <p class="first-name-and-date">
          <span>{{ getUserFirstName(message.senderUid) }}&nbsp;|</span>
          {{
            message.date
              | date
                : (messageIsOlderThanToday(message.date)
                    ? 'medium'
                    : 'shortTime')
          }}
        </p>
      </div>
    </div>
  </div>

  <form>
    <app-typing-animation [class.hidden]="!showTypingAnimation()" />

    <div class="textarea-and-send-button-wrapper">
      <mat-form-field>
        <textarea
          #messageTextarea
          matInput
          rows="3"
          placeholder="Message"
          (input)="handleTextareaChange($event)"
          (keydown.enter)="sendMessage($event)"
        ></textarea>
      </mat-form-field>

      <div class="send-message-button-container">
        <button (click)="sendMessage()" type="button">
          <i class="bi bi-send"></i>
        </button>
      </div>
    </div>
  </form>
</div>
