@import 'styles/angular-material/dialog.scss';
@import 'styles/angular-material/select.scss';
@import 'styles/card.scss';
@import 'styles/common.scss';
@import 'styles/forms.scss';
@import 'styles/global.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
